:root {
	--arrow-width: 50px;
	--arrow-height: 50px;
	--radius: 60px;
	--bg: 0, 0, 0;
	--green: 10, 251, 96;
	--red: 240, 69, 121;
}
* {
	box-sizing: border-box;
	font-family: 'Exo 2', sans-serif;
}
body {
	margin: 0;
	padding: 0;
	background-color: rgb(var(--bg));
	position: absolute;
	inset: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
main {
	width: 100vmin;
	height: 100vmin;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
h1 {
	color: white;
	text-shadow: 0 0 20px white;
	line-height: 1;
	font-size: 9vmin;
	font-weight: 700;
	padding: 0;
	padding-top: 10px;
	margin: 0;
}
#game-board {
	flex: 0 0 auto;
	border: 1px solid white;
	background-color: rgb(var(--bg));
	box-shadow: 0 0 20px white;
	width: 80vmin;
	aspect-ratio: 1;
	margin-bottom: 20px;
	display: grid;
	grid-template-rows: repeat(21, 1fr);
	grid-template-columns: repeat(21, 1fr);
}
.snake {
	background-color: rgb(var(--green));
	box-shadow: 0 0 10px rgb(var(--green)), 0 0 20px rgb(var(--green)),
		0 0 30px rgb(var(--green));
	/* border: 0.25vmin solid rgb(var(--bg)); */
}
.food {
	background-color: rgb(var(--red));
	box-shadow: 0 0 10px rgb(var(--red)), 0 0 20px rgb(var(--red)),
		0 0 30px rgb(var(--red));
}
.buttons {
	display: none;
}
@media screen and (hover: none) {
	#game-board {
		transform: scale(0.95);
	}
}
